{% extends "layout.html" %}

{% block title %}
    <title>Cart</title>
{% endblock %}

{% block body %}
    {% load static %}
    <h4 class="menuTitle">Checkout</h4>
    <table class="table table-dark menuTable" data-checkout_table>
        <tr style="background-color: #ffa500; border-radius: 25px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% for order in orders %}
        <tr>
            <td data-title>{{ order.dish_title }}</td>
            <td class="middleTD">{{ order.dish_type }}</td>
            <td class="middleTD" data-extra>{{ order.dish_extra_topping }}</td>
            <td class="middleTD">{{ order.dish_size }}</td>
            <td class="middleTD" data-price>{{ order.dish_price }}</td>
        </tr>
        {% if order.dish_instructions != "" %}
        <tr>
            <td colspan="5" style="text-align: center;">
                <h6>Instructions: </h6>
                {{ order.dish_instructions }}
            </td>
        </tr>
        {% endif %}
        <tr style="background-color: #ffa500;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
        <tr style="background-color: red;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td data-price_total></td>
        </tr>
    </table>

    <script src="{% static 'javascript/totalCost.js' %}"></script>
    <script src="{% static 'javascript/hideCart.js' %}"></script>
{% endblock %}