<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            PizzaSpot
        </title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <style>
            #background {
                background-image: url('{% static "images/background2.jpeg" %}');
                height: 100%;
                width: 100%;
                background-size: auto;
                background-position: center;
            }
        </style>
    </head>
    <body id="bg">
        <nav class="myNav">
            <a href="" class="navbar-brand myLogo">PizzaFuego</a>
        </nav>
        <div id="background"> 
            <div class="col-8 offset-2" id="mainApp">
                <h1>Height purposes</h1>
                <br>

                <h1>Salads</h1>
                
                {% for salad in salads %}
                <h1>{{ salad }}</h1>
                {% endfor %}
            </div>
        </div>
    </body>
</html>