<!DOCTYPE html>

<html lang="en">
    <head>
        {% block title %}

        {% endblock %}

        {% load static %}
        <script>
            // adding minus png here, so i can use it in plusMinusBtns.js
            function createImg(){
                const image = document.createElement('img');
                image.src = '{% static "images/minus.png" %}';
                image.className = 'minusImg';
                return image;
            };
        </script>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
        </script>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body, html {
                background-image: url("{% static 'images/background1.jpg' %}");
                height: 100%;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-style: italic;
}
            #background {
                height: 100%;
                width: 100%;
            }
        </style>
        <script src="{% static 'javascript/checkers.js' %}"></script>
    </head>
    <body id="bg">
        <nav class="navbar navbar-expand myNav">
            <img src="{% static 'images/PizzaNavRedone.png' %}" alt="" class="pizzaLogo">
            <a href="/" class="navbar-brand myLogo">PizzaFuego</a>
            <ul class="navbar-nav mr-auto">
                {% if staff_status == True %}
                <li class="nav-item">
                    <a href="/viewOrders" class="nav-link myLogo">View Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/updateMenu" class="nav-link myLogo">Update Menu</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <p class="counter">0</p>
                <li class="nav-item">
                    <button class="shoppingCartBtn" id="shoppingCart"><img src="{% static 'images/shoppingcart.png' %}" alt="" class="shoppingCartImg"></button>
                </li>
                {% if logged_in == "" %}
                <li class="nav-item">
                    <a href="/login" class="nav-link myLogo" data-login>Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link myLogo">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/logout" class="nav-link myLogo">Logout</a>
                </li>
                {% endif %}
            </ul>
        </nav>
            <div id="mainApp">
                    <h1>-----</h1>
                    <br>
                    {% block body %}

                    {% endblock %}
            </div>
            <div class="cartDropMenu">
                <br>
                <p class="error"></p>
                <div id="menuItems">
                    <table id="menuItemsTable" class="myTable">
                        <tbody id="counterBody">
                        {% for item in cart_contents %}
                            <tr>
                                <td class="formLabel" data-title>{{ item.dish_title }}</td>
                                <td class="formLabel" data-type>{{ item.dish_type }}</td>
                                <td class="formLabel" data-size>{{ item.dish_size }}</td>
                                <td class="formLabel" data-price>{{ item.dish_price }}</td>
                                <td hidden data-instructions>{{ item.dish_instructions}}</td>
                                <td hidden data-toppings>{{ item.dish_extra_topping }}</td>
                                <td class="formLabel"><img src='{% static "images/minus.png" %}' class="minusImg"alt="" onclick="menuRemove(this)"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <button class="btn formLabel" onclick="CheckEmptyCart()">Checkout</button>
            </div>

        <script src="{% static 'javascript/cartClick.js' %}"></script>
        <script src="{% static 'javascript/menuRemove.js' %}"></script>
        <script src="{% static 'javascript/emptyCartCheck.js' %}"></script>
    </body>
</html>