{% extends "layout.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
{% load static %}
    <h1 class="menuTitle">Login</h1>
        <div style="text-align: center;" class="col-4 offset-4">
            <br>
            <p class="error">{{ error }}</p>
            <form action="/login" method="POST" onsubmit="return checkLogin()">
                {% csrf_token %}
                <label for="userName" class="formLabel">User Name:</label>
                <input type="text" class="form-control" id="userName" name="userName" autocomplete="off">
                <br>
                <label for="userName" class="formLabel">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
                <br>
                <input type="submit" class="btn btn-primary formLabel" value="Login">
            </form>
            <br>
        </div>
        <script src="{% static 'javascript/hideCart.js' %}"></script>
{% endblock %}