{% extends "layout.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
<h1 class="menuTitle">Login</h1>
    <div style="text-align: center;" class="col-4 offset-4">
        <br>
        <form action="">
            {% csrf_token %}
            <label for="userName" class="registerLabel">User Name:</label>
            <input type="text" class="form-control" id="userName" autocomplete="off">
            <br>
            <label for="userName" class="registerLabel">Password:</label>
            <input type="password" class="form-control" id="password">
            <br>
            <input type="submit" class="btn btn-primary registerLabel">
        </form>
    </div>
{% endblock %}