{% extends "layout.html" %}

{% block title %}
    <title>PizzaFuego Menu</title>
{% endblock %}

{% block body %}
        {% load static %}
        {% csrf_token %}
        <h4 class="menuTitle">Regular Pizza</h4>
        <table class="table table-dark menuTable" data-title="Regular Pizza">
            <thead>
                <th></th>
                <th class="middleTD">Size</th>
                <th class="middleTD">Price</th>
            </thead>
            {% for pizza in regular_pizzas %}
            <tr>
                <td style="width: 25%">{{ pizza.toppings }} toppings</td>
                <td class="middleTD" style="width: 25%">{{ pizza.size }}</td>
                <td class="middleTD" style="width: 25%">{{ pizza.price }}$</td>
                <td class="btnTD" style="width: 25%">
                    <button class="plusBtn"><img src="{% static 'images/plus.png' %}" alt="" class="plusMinus"></button>
                    <button class="minusBtn" hidden="true"><img src="{% static 'images/minus.png' %}" alt="" class="plusMinus"></button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h4 class="menuTitle">Sicillian Pizza</h4>
        <table class="table table-dark menuTable" data-title="Sicillian Pizza">
            <thead>
                <th></th>
                <th class="middleTD">Size</th>
                <th class="middleTD">Price</th>
            </thead>
        {% for pizza in sicillian_pizzas %}
            <tr>
                <td style="width: 25%">{{ pizza.toppings }} toppings</td>
                <td class="middleTD" style="width: 25%">{{ pizza.size }}</td>
                <td class="middleTD" style="width: 25%">{{ pizza.price }}$</td>
                <td class="btnTD" style="width: 25%">
                    <button class="plusBtn"><img src="{% static 'images/plus.png' %}" alt="" class="plusMinus"></button>
                    <button class="minusBtn" hidden="true"><img src="{% static 'images/minus.png' %}" alt="" class="plusMinus"></button>

                </td>
            </tr>
        {% endfor %}
        </table>

        <h4 class="menuTitle">Toppings</h4>
        <table class="table table-dark menuTable" style="text-align: center;">
            {% for topping in toppings %}
            <tr>
                <td>{{ topping }}</td>
            </tr>
            {% endfor %}
        </table>

        <h4 class="menuTitle">Subs</h4>
        <table class="table table-dark menuTable" data-title="Sub">
            <thead>
                <th></th>
                <th class="middleTD">Size</th>
                <th class="middleTD">Price</th>
            </thead>
        {% for sub in subs %}
            <tr>
                <td style="width: 25%">{{ sub.name }}</td>
                <td class="middleTD" style="width: 25%">{{ sub.size }}</td>
                <td class="middleTD" style="width: 25%">{{ sub.price }}$</td>
                <td class="btnTD" style="width: 25%">
                    <button class="plusBtn"><img src="{% static 'images/plus.png' %}" alt="" class="plusMinus"></button>
                    <button class="minusBtn" hidden="true"><img src="{% static 'images/minus.png' %}" alt="" class="plusMinus"></button>
                </td>
            </tr>
        {% endfor %}
        </table>

        <h4 class="menuTitle">Salads</h4>
        <table class="table table-dark menuTable" data-title="Salad">
            <thead>
                <th></th>
                <th class="middleTD">Price</th>
            </thead>
        {% for salad in salads %}
            <tr>
                <td style="width: 33.3%">{{ salad.name }}</td>
                <td class="middleTD" style="width: 33.3%">{{ salad.price }}$</td>
                <td class="btnTD" style="width: 33.3%">
                    <button class="plusBtn"><img src="{% static 'images/plus.png' %}" alt="" class="plusMinus"></button>
                    <button class="minusBtn" hidden="true"><img src="{% static 'images/minus.png' %}" alt="" class="plusMinus"></button>
                </td>
            </tr>
        {% endfor %}
        </table>


        <h4 class="menuTitle">Dinner Platters</h4>
        <table class="table table-dark menuTable" data-title="Dinner Platter">
            <thead>
                <th></th>
                <th class="middleTD">Size</th>
                <th class="middleTD">Price</th>
            </thead>
        {% for platter in dinner_platters %}
            <tr>
                <td style="width: 25%">{{ platter.name }}</td>
                <td class="middleTD" style="width: 25%">{{ platter.size }}</td>
                <td class="middleTD" style="width: 25%">{{ platter.price }}$</td>
                <td class="btnTD" style="width: 25%">
                    <button class="plusBtn" id="plusBtn"><img src="{% static 'images/plus.png' %}" alt="" class="plusMinus"></button>
                    <button class="minusBtn" hidden="true" id="minusBtn"><img src="{% static 'images/minus.png' %}" alt="" class="plusMinus"></button>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <script src="{% static 'javascript/plusMinusBtns.js' %}"></script>
{% endblock %}