{% extends "layout.html" %}

{% block title %}
    <title>PizzaFuego Menu</title>
{% endblock %}

{% block body %}
    

        <h4 class="menuTitle">Regular Pizza</h4>
        <table class="table table-dark menuTable">
            <thead>
                <th></th>
                <th>Size</th>
                <th>Price</th>
            </thead>
            {% for pizza in regular_pizzas %}
            <tr>
                <td>{{ pizza.toppings }} toppings</td>
                <td>{{ pizza.size }}</td>
                <td>{{ pizza.price }}$</td>
            </tr>
            {% endfor %}
        </table>

        <h4 class="menuTitle">Sicillian Pizza</h4>
        <table class="table table-dark menuTable">
            <thead>
                <th></th>
                <th>Size</th>
                <th>Price</th>
            </thead>
        {% for pizza in sicillian_pizzas %}
            <tr>
                <td>{{ pizza.toppings }} toppings</td>
                <td>{{ pizza.size }}</td>
                <td>{{ pizza.price }}$</td>
            </tr>
        {% endfor %}
        </table>

        <h4 class="menuTitle">Toppings</h4>
        <table class="table table-dark menuTable" style="text-align: center;">
            {% for topping in toppings %}
            <tr>
                <td>{{ topping }}</td>
            </tr>
            {% endfor %}
        </table>

        <h4 class="menuTitle">Subs</h4>
        <table class="table table-dark menuTable">
            <thead>
                <th></th>
                <th>Size</th>
                <th>Price</th>
            </thead>
        {% for sub in subs %}
            <tr>
                <td>{{ sub.name }}</td>
                <td>{{ sub.size }}</td>
                <td>{{ sub.price }}$</td>
            </tr>
        {% endfor %}
        </table>

        <h4 class="menuTitle">Salads</h4>
        <table class="table table-dark menuTable">
            <thead>
                <th></th>
                <th>Price</th>
            </thead>
        {% for salad in salads %}
            <tr>
                <td>{{ salad.name }}</td>
                <td>{{ salad.price }}$</td>
            </tr>
        {% endfor %}
        </table>


        <h4 class="menuTitle">Dinner Platters</h4>
        <table class="table table-dark menuTable">
            <thead>
                <th></th>
                <th>Size</th>
                <th>Price</th>
            </thead>
        {% for platter in dinner_platters %}
            <tr>
                <td>{{ platter.name }}</td>
                <td>{{ platter.size }}</td>
                <td>{{ platter.price }}$</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}