{% extends 'layout.html' %}

{% block title %}
    <title>Update Menu</title>
{% endblock %}

{% block body %}
    {% load static %}
    {% csrf_token %}
    <div style="width: 49%; float: left;">
        <h3 class="menuTitle" >Existing Items:</h3>

        <h5 class="menuTitle" 0>Regular Pizza</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Size</th>
                <th style="text-align: center;">Toppings</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for pizza in regular_pizzas %}
            <tr>
                    <td><input type="text" value="{{ pizza.size }}" class="type form-control"></td>
                    <td><input type="text" value="{{ pizza.toppings }}" class="toppings form-control"></td>
                    <td><input type="text" value="{{ pizza.price }}" class="price form-control"></td>
                    <td><input type="text" value="regular_pizza" class="category" hidden></td>
                    <td><button class="btn btn-danger">Update</button></td>
                    <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            
            {% endfor %}
            </tbody>
        </table>


        <h5 class="menuTitle" >Sicillian Pizza</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Size</th>
                <th style="text-align: center;">Toppings</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for pizza in sicillian_pizzas %}
            <tr>
                    <td><input type="text" value="{{ pizza.size }}" class="type form-control"></td>
                    <td><input type="text" value="{{ pizza.toppings }}" class="toppings form-control"></td>
                    <td><input type="text" value="{{ pizza.price }}" class="price form-control"></td>
                    <td><input type="text" value="sicillian_pizza" class="category" hidden></td>
                    <td><button class="btn btn-danger">Update</button></td>
                    <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h5 class="menuTitle" >Salad</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for salad in salads %}
            <tr>
                    <td><input type="text" value="{{ salad.name }}" class="type form-control"></td>
                    <td><input type="text" value="{{ salad.price }}" class="price form-control"></td>
                    <td><input type="text" value="salad" class="category" hidden></td>
                    <td><button class="btn btn-danger">Update</button></td>
                    <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <h5 class="menuTitle" >Dinner Platters</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Size</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for platter in dinner_platters %}
            <tr>
                <td><input type="text" value="{{ platter.name }}" class="type form-control"></td>
                <td><input type="text" value="{{ platter.size }}" class="toppings form-control"></td>
                <td><input type="text" value="{{ platter.price }}" class="price form-control"></td>
                <td><input type="text" value="dinner_platter" class="category" hidden></td>
                <td><button class="btn btn-danger">Update</button></td>
                <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        
        <h5 class="menuTitle" >Subs</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for sub in subs %}
            <tr>
                <td><input type="text" value="{{ sub.name }}" class="type form-control"></td>
                <td><input type="text" value="{{ sub.price }}" class="price form-control"></td>
                <td><input type="text" value="sub" class="category" hidden></td>
                <td><button class="btn btn-danger">Update</button></td>
                <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h5 class="menuTitle" >Pastas</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for pasta in pastas %}
            <tr>
                <td><input type="text" value="{{ pasta.name }}" class="type form-control"></td>
                <td><input type="text" value="{{ pasta.price }}" class="price form-control"></td>
                <td><input type="text" value="pasta" class="category" hidden></td>
                <td><button class="btn btn-danger">Update</button></td>
                <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h5 class="menuTitle" >Special Pizzas</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for pizza in special_pizzas %}
            <tr>
                <td><input type="text" value="{{ pizza.name }}" class="type form-control"></td>
                <td><input type="text" value="{{ pizza.price }}" class="price form-control"></td>
                <td><input type="text" value="special_pizza" class="category" hidden></td>
                <td><button class="btn btn-danger">Update</button></td>
                <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h5 class="menuTitle" >Toppings</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Name</th>
            </thead>
            <tbody>
            {% for topping in toppings %}
            <tr>
                <td><input type="text" value="{{ topping.name }}" class="type form-control"></td>
                <td><input type="text" value="topping" class="category" hidden></td>
                <td><button class="btn btn-danger">Update</button></td>
                <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h5 class="menuTitle" >Sub Extras</h5>
        <table class="table table-dark menuTable" >
            <thead>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Price</th>
            </thead>
            <tbody>
            {% for extra in sub_extras %}
            <tr>
                <td><input type="text" value="{{ extra.name }}" class="type form-control"></td>
                <td><input type="text" value="{{ extra.price }}" class="price type form-control"></td>
                <td><input type="text" value="sub_extra" class="category" hidden></td>
                <td><button class="btn btn-danger">Update</button></td>
                <td><button class="btn btn-danger remove_btn">Remove</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="width: 49%; float: right;">
        <h3 class="menuTitle" >Add New Items</h3>
        <h5 class="menuTitle" >Regular Pizza</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Size</th>
                <th class="middleTD">Toppings</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_toppings form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                    <td><input type="text" class="new_item_category" value="regular_pizza" hidden></td>
                </tr>
            </tbody>
        </table>

        <h5 class="menuTitle" >Sicillian Pizza</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Size</th>
                <th class="middleTD">Toppings</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_toppings form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                    <td><input type="text" class="new_item_category" value="sicillian_pizza" hidden></td>
                </tr>
            </tbody>
        </table>

        <h5 class="menuTitle" >Salad</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Name</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                </tr>
            </tbody>
        </table>

        <h5 class="menuTitle" >Dinner Platters</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Name</th>
                <th class="middleTD">Size</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_toppings form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><input type="text" class="new_item_category" value="dinner_platter" hidden></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                </tr>
            </tbody>
        </table>

        <h5 class="menuTitle" >Subs</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Name</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                    <td><input type="text" class="new_item_category" value="subs" hidden></td>
                </tr>
            </tbody>
        </table>

        <h5 class="menuTitle" >Pasta</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Name</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                    <td><input type="text" class="new_item_category" value="pasta" hidden></td>
                </tr>
            </tbody>
        </table>

        <h5 class="menuTitle" >Special Pizza</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Name</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                    <td><input type="text" class="new_item_category" value="special_pizza" hidden></td>
                </tr>
            </tbody>
        </table>

        <h5 class="menuTitle" >Topping</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Name</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                    <td><input type="text" class="new_item_category" value="topping" hidden></td>
                </tr>
            </tbody>
        </table>


        <h5 class="menuTitle" >Sub Extras</h5>
        <table class="table table-dark menuTable">
            <thead>
                <th class="middleTD">Name</th>
                <th class="middleTD">Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="new_item_type form-control"></td>
                    <td><input type="text" class="new_item_price form-control"></td>
                    <td><button class="btn btn-danger addNewItem">Add</button></td>
                    <td><input type="text" class="new_item_category" value="sub_extra" hidden></td>
                </tr>
            </tbody>
        </table>

    </div>

    <script src="{% static 'javascript/hideCart.js' %}"></script>
    <script src="{% static 'javascript/addNewItem.js' %}"></script>
    <script src="{% static 'javascript/removeMenuItem.js' %}"></script>
{% endblock %}