h1 {
    color: red;
}
#mainApp {
    height: 100%;
    overflow-y: scroll;
    background-color: wheat;
    padding: 15px;
    width: 90%;
    margin-left: 5%;
    float: left;
}

.myNav {
    background-color: red;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 10px 15px 1px black;
}

.myLogo {
    color: #ffa500;
    text-shadow: 0px 7px 5px black;
}

a:hover, a:visited {
    color:#ffa500;
}

.menuTitle {
    color: #ffa500;
    background-color: red;
    text-align: center;
    box-shadow: 0px 10px 15px black;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 5px 5px black;
}

.menuTable {
    box-shadow: 0px 10px 15px black;
    border-radius: 10px;
}

.pizzaLogo {
    width: 50px;
    height: 50px;
}

.shoppingCartImg {
    width: 50px;
    height: 50px;
}

.shoppingCartBtn {
    border: 0px;
    background-color: red;
}

.shoppingCartBtn:focus {
    outline: none;
}

.formLabel {
    color: #ffa500;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 5px 5px black;
    margin-bottom: 5px;
}

.error {
    color: red;
}

.plusMinus {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.btnTD {
    text-align: right;
}

.middleTD {
    text-align: center;
}

.plusBtn {
    background-color: #343a40;
    border: 0px;
    
}

.minusBtn {
    background-color: #343a40;
    border: 0px;
    
}

.plusBtn:focus {
    outline: none;
}

.minusBtn:focus {
    outline: none;
}

.counter {
    color: #ffa500;
    text-shadow: 0px 5px 5px black;
}

.cartDropMenu {
    position: fixed;
    margin-top: 2.5%;
    margin-left: 50%;
    width: 50%;
    background-color: #ffa500;
    color: #ffa500;
    text-align: center;
    border-radius: 15px;
    z-index: 10;
    border: 4px solid red;
}

#menuItemsTable {
    color: red;
    border-radius: 15px;
}
.minusImg {
    width: 20px;
    height: 20px;
}

.myTable {
    width: 100%;
    background-color: red;
}

.myTD {
    padding: 10px;
}

.myRow {
    border-top: 2px solid #343a40;
    border-bottom: 2px solid #343a40;
    width: 100%;
}

img {
    cursor: pointer;
}

a {
    color: inherit;
}

.slideRow {
    background-color: #ffa500;
    border: 3px solid red;
}

.myTextArea {
    border: 10px solid red;
    border-radius: 25px;
    height: 18vh;
    width: 100%;
}

.confirmBtn {
    margin: 10%;
}

.toppingDiv {
    height: 18vh;
    overflow-y: scroll;
    border: 10px solid red;
    border-radius: 15px;
    padding: 5px;
    background-color: red;
}

.toppingBtn {
    width: 100%;
    text-align: left;
    background-color: #ffa500;
    border-radius: 10px;
    padding: 2px;
    padding: 3px;
    border: 3px solid red;
}   